@model IEnumerable<SelectListItem>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
    Add New Employee
</button>

<!-- Add Department Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="addEmployeeNameInput" class="form-label">Name</label>
                    <input type="text" id="addEmployeeNameInput" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="addEmployeeSalaryInput" class="form-label">Salary</label>
                    <input type="number" id="addEmployeeSalaryInput" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="addEmployeeDepartmentInput" class="form-label">Department</label>
                    <select asp-items="Model" id="addEmployeeDepartmentInput" class="form-control">
                        <option selected disabled>-- Select Department --</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button onclick="addNewEmployee()" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Employees</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editEmpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="editempIdInput" />
                <div class="mb-3">
                    <label for="editEmpNameInput" class="form-label">Name</label>
                    <input type="text" id="editEmpNameInput" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="editEmpSalaryInput" class="form-label">Salary</label>
                    <input type="number" id="editEmpSalaryInput" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="editEmpDepartmentInput" class="form-label">Department</label>
                    <select id="editEmpDepartmentInput" asp-items="Model" class="form-control">
                        <option disabled selected>-- Select Department --</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button onclick="updateEmpData()" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/employee.js"></script>
}